
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.g-cash-register-page-91Z {
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-right: 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .frame-1-gXH {
    margin-right: 16.6rem;
    box-sizing: border-box;
    padding: 14.95rem 0.35rem;
    height: 102.4rem;
    background-color: #3badab;
    flex-shrink: 0;

    .e-collectlogo-1-DGK {
      width: 72.5rem;
      height: 72.5rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-xdnp-YpP {
    flex-shrink: 0;
    margin-bottom: 10.1rem;
    width: 40rem;

    .register-u99 {
      font-weight: 700;
      line-height: 0.92;
      font-family: League Spartan, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: center;
      font-size: 4rem;
      color: #3badab;
      margin-bottom: 2.2rem;
      width: 100%;
      justify-content: center;
    }
    .frame-9-2Dm {
      box-sizing: border-box;
      padding: 1rem 1rem 2.8rem 1rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;

      .frame-5-ZDh {
        box-sizing: border-box;
        display: flex;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 0.92;
        color: rgba(0, 0, 0, 0.3600000143);
        font-family: League Spartan, 'Source Sans Pro';
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        margin-bottom: 5rem;
        padding: 0.95rem 1rem;
        width: 100%;
        white-space: nowrap;
      }
      .frame-8-f1q {
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 4.95rem;
        padding: 0.95rem 1rem;
        width: 100%;
        font-size: 2.4rem;
        line-height: 0.92;
        color: rgba(0, 0, 0, 0.3600000143);
        box-sizing: border-box;
        display: flex;
        font-weight: 400;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
      }
      .upload-a-screenshot-of-your-g-cash-account-qr-code-9xb {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        line-height: 0.92;
        color: #000000;
        flex-shrink: 0;
        margin-bottom: 4.95rem;
        font-size: 2.4rem;
        font-family: League Spartan, 'Source Sans Pro';
        max-width: 29.1rem;
      }
      .frame-10-TCb {
        align-items: center;
        border: solid 0.1rem #000000;
        font-weight: 400;
        line-height: 0.92;
        width: calc(100% - 14rem);
        display: flex;
        color: #000000;
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 4.2rem;
        font-size: 2.4rem;
        justify-content: center;
        background-color: #ffffff;
        margin: 0rem 7rem 5rem 7rem;
      }
      .frame-11-jfu {
        height: 4.2rem;
        align-items: center;
        border: solid 0.1rem #000000;
        line-height: 0.92;
        white-space: nowrap;
        color: #ffffff;
        font-family: League Spartan, 'Source Sans Pro';
        width: 100%;
        font-size: 2.4rem;
        font-weight: 400;
        box-sizing: border-box;
        background-color: #3badab;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
      }
    }
  }
}
