
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-23-i6b {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #3badab;

  .rectangle-17-SHV {
    left: 11.7rem;
    top: 16.5rem;
    background-color: #82cfcd;
    border-radius: 1rem;
    width: 120.5rem;
    height: 7rem;
    position: absolute;
  }
  .rectangle-18-maf {
    height: 68.7rem;
    position: absolute;
    left: 11.7rem;
    top: 21.9rem;
    background-color: #ffffff;
    width: 120.5rem;
  }
  .logo-without-reverse-2-uwm {
    width: 20.6rem;
    height: 20.6rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
  }
  .frame-18-euM {
    left: 25.3rem;
    border: solid 0.5rem #3badab;
    box-sizing: border-box;
    width: 45rem;
    position: absolute;
    top: 74.1rem;
    align-items: center;
    font-weight: 700;
    color: #ffffff;
    font-family: League Spartan, 'Source Sans Pro';
    justify-content: center;
    font-size: 3.2rem;
    background-color: #3badab;
    border-radius: 5rem;
    height: 9rem;
    display: flex;
    line-height: 0.92;
    white-space: nowrap;
  }
  .frame-19-Gfq {
    font-weight: 700;
    line-height: 0.92;
    color: #ffffff;
    white-space: nowrap;
    border: solid 0.5rem #3badab;
    left: 73.6rem;
    top: 74.1rem;
    align-items: center;
    font-size: 3.2rem;
    background-color: #3badab;
    display: flex;
    box-sizing: border-box;
    border-radius: 5rem;
    width: 45rem;
    height: 9rem;
    position: absolute;
    justify-content: center;
    font-family: League Spartan, 'Source Sans Pro';
  }
  .account-id-tSK {
    font-family: League Spartan, 'Source Sans Pro';
    top: 28.05rem;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
    font-weight: 400;
    color: #000000;
    width: 13.9rem;
    height: 3rem;
    line-height: 0.92;
    position: absolute;
    left: 16rem;
    display: flex;
    white-space: nowrap;
  }
  .rectangle-19-ZYT {
    left: 16rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    width: 112rem;
    height: 5rem;
    position: absolute;
    top: 33.6rem;
    background-color: #ffffff;
    border-radius: 1rem;
  }
  .item-00001-Gxf {
    position: absolute;
    top: 35.05rem;
    font-weight: 400;
    color: #000000;
    font-family: League Spartan, 'Source Sans Pro';
    white-space: nowrap;
    height: 3rem;
    font-size: 3.2rem;
    width: 8.5rem;
    left: 19.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0.92;
  }
  .waste-P1h {
    left: 16rem;
    top: 42.15rem;
    line-height: 0.92;
    font-family: League Spartan, 'Source Sans Pro';
    position: absolute;
    justify-content: center;
    font-size: 3.2rem;
    font-weight: 400;
    height: 3rem;
    color: #000000;
    width: 8.1rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .rectangle-20-6Ru {
    width: 112rem;
    height: 5rem;
    position: absolute;
    left: 16rem;
    top: 46.7rem;
    border: solid 0.1rem #000000;
    background-color: #ffffff;
    border-radius: 1rem;
    box-sizing: border-box;
  }
  .total-points-RUB {
    font-size: 3.2rem;
    white-space: nowrap;
    width: 15.1rem;
    left: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: #000000;
    position: absolute;
    line-height: 0.92;
    top: 55.25rem;
    font-family: League Spartan, 'Source Sans Pro';
    height: 3rem;
  }
  .rectangle-21-vfq {
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    width: 112rem;
    height: 5rem;
    left: 16rem;
    border-radius: 1rem;
    position: absolute;
    top: 59.8rem;
    background-color: #ffffff;
  }
  .remote-qH1 {
    position: absolute;
    top: 47.95rem;
    display: flex;
    font-weight: 400;
    width: 10rem;
    font-family: League Spartan, 'Source Sans Pro';
    align-items: center;
    left: 18.7rem;
    font-size: 3.2rem;
    white-space: nowrap;
    height: 3rem;
    line-height: 0.92;
    color: #000000;
    justify-content: center;
  }
  .points-8mu {
    height: 3rem;
    top: 60.75rem;
    justify-content: center;
    font-size: 3.2rem;
    width: 12.3rem;
    font-family: League Spartan, 'Source Sans Pro';
    position: absolute;
    display: flex;
    font-weight: 400;
    line-height: 0.92;
    white-space: nowrap;
    left: 19.4rem;
    align-items: center;
    color: #000000;
  }
}
