
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-9-QZu {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  width: 100%;
  overflow: hidden;

  .auto-group-bw59-xrK {
    width: 145.5rem;
    height: 37.7rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-uFm {
      left: 0;
      top: 0;
      background-color: #3badab;
      width: 144rem;
      height: 20rem;
      position: absolute;
    }
    .rectangle-2-eUF {
      position: absolute;
      left: 1.5rem;
      top: 24.3rem;
      background-color: #3badab;
      width: 141rem;
      height: 10rem;
    }
    .e-collectlogo-1-ash {
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 30rem;
      height: 30rem;
      position: absolute;
      left: 0;
    }
    .e-collect-XY3 {
      left: 23.6rem;
      top: 7rem;
      line-height: 1.2125;
      color: #88ca5e;
      font-weight: 900;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 28.3rem;
      height: 5.9rem;
      position: absolute;
      font-size: 4.8rem;
    }
    .frame-1-EhM {
      top: 9.1rem;
      display: flex;
      align-items: flex-start;
      width: 74.9rem;
      height: 2.4rem;
      position: absolute;
      left: 60.8rem;

      .home-Mmy {
        font-size: 2.4rem;
        font-weight: 900;
        line-height: 0.92;
        color: #ffffff;
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.8rem;
      }
      .profile-tmu {
        font-size: 2.6rem;
        font-weight: 900;
        line-height: 0.92;
        color: #ffffff;
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.8rem;
      }
      .dashboard-p9m {
        line-height: 0.92;
        color: #ffffff;
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.3rem;
        font-size: 2.6rem;
        font-weight: 900;
      }
      .notification-ikw {
        font-weight: 900;
        line-height: 0.92;
        color: #ffffff;
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
      }
    }
    .good-news-you-are-now-eligible-to-withdraw-your-points-q4s {
      height: 3rem;
      position: absolute;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 82.1rem;
      top: 27.9rem;
      font-size: 2.4rem;
      font-weight: 900;
      left: 10rem;
    }
    .click-to-withdraw-uqR {
      top: 27.9rem;
      font-weight: 900;
      color: #000000;
      white-space: nowrap;
      width: 26.4rem;
      height: 3rem;
      position: absolute;
      left: 100.6rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .vector-D5R {
      vertical-align: top;
      width: 5rem;
      height: 5rem;
      position: absolute;
      left: 131.5rem;
      top: 26.8rem;
      object-fit: contain;
    }
  }
  .auto-group-znrt-wGK {
    margin: 0 1.5rem;
    width: calc(100% - 3rem);
    flex-shrink: 0;

    .rectangle-14-HLB {
      width: 100%;
      height: 68.1rem;
      background-color: #ffffff;
    }
  }
}
