
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-22-hXd {
  overflow: hidden;
  background-color: #3badab;
  width: 100%;
  height: 102.4rem;
  position: relative;

  .rectangle-17-35h {
    top: 16.5rem;
    background-color: #82cfcd;
    border-radius: 1rem;
    width: 120.5rem;
    height: 7rem;
    position: absolute;
    left: 11.7rem;
  }
  .rectangle-18-xTZ {
    background-color: #ffffff;
    width: 120.5rem;
    height: 68.7rem;
    position: absolute;
    left: 11.7rem;
    top: 21.9rem;
  }
  .logo-without-reverse-2-ts1 {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 20.6rem;
    height: 20.6rem;
  }
  .frame-18-EAB {
    box-sizing: border-box;
    position: absolute;
    line-height: 0.92;
    border: solid 0.5rem #3badab;
    font-size: 3.2rem;
    font-weight: 700;
    background-color: #3badab;
    width: 45rem;
    top: 74.1rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    white-space: nowrap;
    height: 9rem;
    left: 25.3rem;
    display: flex;
    font-family: League Spartan, 'Source Sans Pro';
    border-radius: 5rem;
  }
  .frame-19-WdV {
    box-sizing: border-box;
    justify-content: center;
    line-height: 0.92;
    font-family: League Spartan, 'Source Sans Pro';
    border: solid 0.5rem #3badab;
    background-color: #3badab;
    height: 9rem;
    align-items: center;
    white-space: nowrap;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5rem;
    width: 45rem;
    top: 74.1rem;
    font-size: 3.2rem;
    position: absolute;
    left: 73.6rem;
    display: flex;
  }
  .account-id-Nvb {
    align-items: center;
    font-size: 3.2rem;
    width: 13.9rem;
    left: 16rem;
    justify-content: center;
    font-family: League Spartan, 'Source Sans Pro';
    position: absolute;
    top: 28.05rem;
    font-weight: 400;
    color: #000000;
    line-height: 0.92;
    white-space: nowrap;
    height: 3rem;
    display: flex;
  }
  .rectangle-19-te3 {
    top: 33.6rem;
    border: solid 0.1rem #000000;
    background-color: #ffffff;
    left: 16rem;
    box-sizing: border-box;
    border-radius: 1rem;
    width: 112rem;
    height: 5rem;
    position: absolute;
  }
  .item-00001-aFy {
    font-family: League Spartan, 'Source Sans Pro';
    white-space: nowrap;
    width: 8.5rem;
    position: absolute;
    display: flex;
    top: 35.15rem;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
    color: #000000;
    height: 3rem;
    left: 18.7rem;
    font-weight: 400;
    line-height: 0.92;
  }
  .waste-U6T {
    height: 3rem;
    display: flex;
    font-family: League Spartan, 'Source Sans Pro';
    left: 16rem;
    align-items: center;
    justify-content: center;
    width: 8.1rem;
    position: absolute;
    top: 42.15rem;
    font-weight: 400;
    line-height: 0.92;
    color: #000000;
    font-size: 3.2rem;
    white-space: nowrap;
  }
  .rectangle-20-yJ7 {
    position: absolute;
    left: 16rem;
    border: solid 0.1rem #000000;
    border-radius: 1rem;
    width: 112rem;
    top: 46.7rem;
    box-sizing: border-box;
    background-color: #ffffff;
    height: 5rem;
  }
  .total-points-hE7 {
    top: 55.25rem;
    align-items: center;
    white-space: nowrap;
    left: 16rem;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 0.92;
    color: #000000;
    font-family: League Spartan, 'Source Sans Pro';
    height: 3rem;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 15.1rem;
  }
  .rectangle-21-onw {
    height: 5rem;
    background-color: #ffffff;
    border-radius: 1rem;
    width: 112rem;
    position: absolute;
    left: 16rem;
    top: 59.8rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
  }
  .remote-7od {
    width: 10rem;
    font-weight: 400;
    top: 48.25rem;
    align-items: center;
    font-size: 3.2rem;
    line-height: 0.92;
    color: #000000;
    font-family: League Spartan, 'Source Sans Pro';
    height: 3rem;
    position: absolute;
    left: 18.7rem;
    display: flex;
    justify-content: center;
    white-space: nowrap;
  }
  .points-E7Z {
    width: 12.3rem;
    color: #000000;
    font-family: League Spartan, 'Source Sans Pro';
    height: 3rem;
    top: 61.35rem;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 0.92;
    position: absolute;
    left: 18.7rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
