
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-wDh {
  padding-right: 5.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: #ededed;
  box-sizing: border-box;

  .frame-10-fvP {
    height: 101.8rem;
    position: relative;
    background-color: #3badab;
    flex-shrink: 0;
    margin: 0rem 7.8rem 0.6rem 0rem;
    width: 42rem;

    .home-profile-dashboard-notification-Q7H {
      left: 10rem;
      font-weight: 900;
      font-family: Inter, 'Source Sans Pro';
      height: 84.4rem;
      position: absolute;
      font-size: 2.4rem;
      line-height: 1.2125;
      color: #ffffff;
      width: 17.5rem;
      top: 8.85rem;
    }
    .e-collectlogo-2-JCf {
      left: 6.9rem;
      top: 0.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 28.2rem;
      height: 28.2rem;
      position: absolute;
    }
  }
  .auto-group-kwr5-DqR {
    margin-bottom: 3.5rem;
    width: 89.1rem;
    flex-shrink: 0;

    .auto-group-ebxk-NCX {
      width: calc(100% - 23.4rem);
      display: flex;
      align-items: center;
      margin: 0rem 23.4rem 1.8rem 0rem;

      .overview-twZ {
        font-size: 4rem;
        font-weight: 700;
        line-height: 0.92;
        color: #3badab;
        font-family: League Spartan, 'Source Sans Pro';
        margin-right: 28.2rem;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        display: flex;
        white-space: nowrap;
      }
      .withdrawal-oYj {
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        font-weight: 700;
        flex-shrink: 0;
        display: flex;
        line-height: 0.92;
        color: #3badab;
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-dk4x-jBV {
      height: 28rem;
      display: flex;
      align-items: center;
      margin-bottom: 12rem;
      width: 100%;

      .auto-group-ptzx-4jZ {
        margin-right: 1.1rem;
        box-sizing: border-box;
        padding: 1.3rem 2rem 1.7rem 2rem;
        width: 44rem;
        height: 100%;
        background-color: #ffffff;
        flex-shrink: 0;

        .frame-12-ahu {
          background-color: #4ea757;
          border-radius: 1rem;
          width: 100%;
          height: 100%;
          position: relative;

          .total-balance-k6b {
            width: 23.3rem;
            justify-content: center;
            font-weight: 700;
            top: 1rem;
            color: #000000;
            font-family: League Spartan, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.7rem;
            left: 8.35rem;
            align-items: center;
            font-size: 4rem;
            line-height: 0.92;
            position: absolute;
            display: flex;
          }
          .frame-14-2rj {
            position: absolute;
            top: 0;
            align-items: center;
            font-weight: 700;
            border-radius: 1rem;
            box-sizing: border-box;
            left: 0;
            display: flex;
            font-family: League Spartan, 'Source Sans Pro';
            padding: 1rem 8.35rem;
            width: 40rem;
            font-size: 4rem;
            white-space: nowrap;
            height: 25rem;
            justify-content: center;
            line-height: 0.92;
            color: #ffffff;
            background-color: #3badab;
          }
        }
      }
      .auto-group-pbaw-f91 {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.8rem 2rem 2.2rem 2rem;
        width: 44rem;
        height: 100%;
        row-gap: 3rem;
        align-items: center;

        .rectangle-7-kw9 {
          width: 100%;
          height: 6rem;
          background-color: #3badab;
          flex-shrink: 0;
        }
        .rectangle-8-JSs {
          width: 100%;
          height: 6rem;
          background-color: #3badab;
          flex-shrink: 0;
        }
        .rectangle-9-Taf {
          width: 100%;
          height: 6rem;
          background-color: #3badab;
          flex-shrink: 0;
        }
      }
    }
    .transaction-history-oPd {
      font-family: League Spartan, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 3.1rem 2rem;
      display: flex;
      font-size: 4rem;
      font-weight: 700;
      line-height: 0.92;
      color: #3badab;
    }
    .rectangle-10-7QK {
      margin: 0rem 2.1rem 0rem 2rem;
      width: calc(100% - 4.1rem);
      height: 33.3rem;
      background-color: #ffffff;
    }
  }
}
