
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-page-VSX {
  box-sizing: border-box;
  padding-right: 21.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ededed;

  .auto-group-qhfm-bVZ {
    height: 102.4rem;
    align-items: center;
    background-color: #3baeab;
    flex-shrink: 0;
    margin-right: 21.2rem;
    box-sizing: border-box;
    padding: 5.2rem 6rem 12rem 6rem;
    width: 42rem;
    display: flex;
    flex-direction: column;

    .e-collectlogo-2-Rsu {
      height: 30rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 5.2rem;
      width: 30rem;
    }
    .auto-group-lxep-8XR {
      flex-shrink: 0;
      margin: 0rem 10.4rem 10rem 3.1rem;
      width: calc(100% - 13.5rem);
      display: flex;
      align-items: center;

      .vector-TJo {
        margin-right: 2.3rem;
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .home-yH9 {
        font-weight: 900;
        line-height: 0.92;
        color: #ffffff;
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.2rem;
        font-size: 3.6rem;
      }
    }
    .auto-group-nrrm-rbq {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 9rem 10rem 3.1rem;
      width: calc(100% - 12.1rem);

      .vector-nkP {
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
      }
      .profile-8ZM {
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.6rem;
        font-weight: 900;
        line-height: 0.92;
        color: #ffffff;
      }
    }
    .auto-group-go67-sG3 {
      margin: 0rem 1.8rem 10rem 3.1rem;
      width: calc(100% - 4.9rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .vector-aAT {
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
      }
      .dashboard-7gB {
        line-height: 0.92;
        color: #ffffff;
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.6rem;
        font-weight: 900;
      }
    }
    .auto-group-xyzv-F1h {
      flex-shrink: 0;
      margin: 0rem 0.1rem 0rem 3.1rem;
      width: calc(100% - 3.2rem);
      display: flex;
      align-items: center;

      .frame-kz3 {
        margin-right: 2.3rem;
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .notification-JVm {
        flex-shrink: 0;
        margin-top: 0rem;
        font-size: 3.6rem;
        font-weight: 900;
        line-height: 0.92;
        color: #ffffff;
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-sp4k-Qoh {
    margin-top: 2.2rem;
    width: 59.6rem;
    flex-shrink: 0;

    .e-collect-e-waste-reverse-vending-machine-xKR {
      letter-spacing: 0.55rem;
      color: #000000;
      font-family: League Script, 'Source Sans Pro';
      margin-bottom: 5rem;
      max-width: 58.7rem;
      font-size: 5.5rem;
      font-weight: 400;
      line-height: 1.1067708796;

      .e-collect-e-waste-reverse-vending-machine-xKR-sub-0 {
        font-size: 5.5rem;
        font-weight: 800;
        line-height: 0.92;
        letter-spacing: 0.55rem;
        color: #000000;
        font-family: League Spartan, 'Source Sans Pro';
      }
      .e-collect-e-waste-reverse-vending-machine-xKR-sub-1 {
        font-weight: 900;
        line-height: 0.92;
        letter-spacing: 0.55rem;
        color: #000000;
        font-family: League Spartan, 'Source Sans Pro';
        font-size: 5.5rem;
      }
    }
    .our-machine-uses-state-of-art-images-processing-technology-to-quickly-and-accurately-detect-and-classify-types-of-e-waste-item-based-on-their-visual-features-when-you-deposit-your-e-waste-into-the-machines-you-will-be-rewarded-with-points-that-can-be-redeemed-for-goods-and-services-at-participating-merchants-FrF {
      margin-bottom: 9.1rem;
      max-width: 59.6rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 0.92;
      letter-spacing: 0.3rem;
      color: #000000;
      font-family: League Spartan, 'Source Sans Pro';
    }
    .auto-group-qvk9-e7h {
      margin-right: 7.9rem;
      width: calc(100% - 7.9rem);
      height: 8rem;
      display: flex;
      align-items: center;

      .frame-2-NZV {
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        border-radius: 5rem;
        margin-right: 9.6rem;
        height: 100%;
        font-size: 2.4rem;
        justify-content: center;
        white-space: nowrap;
        align-items: center;
        background-color: #3baeab;
        flex-shrink: 0;
        width: 26rem;
        font-weight: 900;
        line-height: 1.2125;
        color: #ffffff;
      }
      .already-using-e-collect-sign-in-39q {
        color: #000000;
        font-family: League Spartan, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 1.7rem;
        max-width: 16.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 0.92;

        .already-using-e-collect-sign-in-39q-sub-0 {
        }
        .already-using-e-collect-sign-in-39q-sub-1 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 0.92;
          text-decoration-line: underline;
          color: #000000;
          font-family: League Spartan, 'Source Sans Pro';
        }
      }
    }
  }
}
