
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.rectangle-1-8oR {
  width: 100%;
  height: 20rem;
  background-color: #3badab;
}
