
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-page-36F {
  box-sizing: border-box;
  padding-right: 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.login-page-36F .frame-1-By9 {
  margin-right: 16.6rem;
  box-sizing: border-box;
  padding: 14.95rem 0.35rem;
  height: 102.4rem;
  background-color: #3badab;
  flex-shrink: 0;
}
.login-page-36F .frame-1-By9 .e-collectlogo-1-L5M {
  width: 72.5rem;
  height: 72.5rem;
  object-fit: cover;
  vertical-align: top;
}
.login-page-36F .auto-group-qmsx-52w {
  margin-bottom: 10.3rem;
  width: 40rem;
  flex-shrink: 0;
}
.login-page-36F .auto-group-qmsx-52w .login-d4T {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.92;
  color: #3badab;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-36F .auto-group-qmsx-52w .frame-9-wqq {
  box-sizing: border-box;
  padding: 1rem 1rem 21.4rem 1rem;
  width: 100%;
  row-gap: 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.login-page-36F .auto-group-qmsx-52w .frame-9-wqq .frame-5-U55 {
  box-sizing: border-box;
  padding: 0.95rem 1rem;
  width: 100%;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.92;
  color: rgba(0, 0, 0, 0.3600000143);
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  flex-shrink: 0;
}
.login-page-36F .auto-group-qmsx-52w .frame-9-wqq .frame-8-xkw {
  box-sizing: border-box;
  padding: 0.95rem 1rem;
  width: 100%;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.92;
  color: rgba(0, 0, 0, 0.3600000143);
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  flex-shrink: 0;
}
.login-page-36F .auto-group-qmsx-52w .frame-9-wqq .frame-11-54s {
  width: 100%;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.92;
  color: #ffffff;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #3badab;
  flex-shrink: 0;
}
